body {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}
#wrap {
        text-align: left;
		
}
#header {
        background-color: #36393e;
        width: 80%;
        margin: 0% auto;
        height: 100px;
        text-align: center;
        color: #000000;
        font-family: Futura Bk BT;
}

#navigation {
        background-color: #525559;
        margin: 0% auto;
		margin-top: -1%;
        width: 80%;
        height: 50px;
        font-size: 1.5em;
        color: #000000;
        font-family: Futura Bk BT;
        text-align: left;
}
#navigation ul {
        list-style-type: none;
}


#navigation button {
		margin-top: 10px;
        background-color: #00bb00;
        width: 10%;
        height: 30px;
        color: #000000;
        font-family: Futura Bk BT;
        text-align: center;
        vertical-align: top;
}
#navigation button:hover {
      background-color: #009900;
      transition: 0.1s;
}
#navigation ul li {
        display: inline;
        padding-right: 15px;
}
#main_body {
    margin: 10px auto;
    width: 80%
}
#content {

    text-align: left;
	width: 75%;
	font-size: 20px;
	font-family: terminal, monospace;
	font-weight: bold;
	color: #13DF13;
	text-shadow: 2px 2px 2px #13CD13;
	height: 600px;
	background: #222222;
	padding: 25px;
	border-radius: 15px;
	box-shadow: inset -1px 2px 10px grey;
}
#sidebar {
        margin-top: 20px;
        font-family: Futura Bk BT;
        background-color: #727579;
        float: right;
        color: #000000;
        width: 20%;
        height: 600px;

}
