body {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
    background-color: #FFFFE0;
}
#wrap {
        text-align: left;
		
}
#header {
        width: 80%;
        margin: 0% auto;
        height: 100px;
        text-align: left;
        font-family: terminal, monospace;
	    text-shadow: 2px 2px 2px #1F1A50;
        color: #2EFFFC;
        font-size: 40px;
}
#header img {
        margin-bottom: -40px;
}

#navigation {
        
        margin: 0% auto;
	margin-top: -1%;
        width: 80%;
        height: 50px;
        font-size: 1.5em;
        color: #000000;
        font-family: Futura Bk BT;
        text-align: left;
}
#navigation ul {
        list-style-type: none;
}


#navigation button {
		margin-top: 10px;
        background-color: #f4f1c8;
        width: 10%;
        height: 30px;
        color: #000000;
        font-family: Futura Bk BT;
        text-align: center;
        vertical-align: top;
}
#navigation button:hover {
      background-color: #009900;
      transition: 0.1s;
}
#navigation ul li {
        display: inline;
        padding-right: 15px;
}
#main_body {
    margin: 10px auto;
    width: 80%
}
#content {

    text-align: left;
	width: 70%;
	font-size: 20px;
	font-family: terminal, monospace;
	font-weight: bold;
	color: #13DF13;
	text-shadow: 2px 2px 2px #13CD13;
	height: 600px;
	background: #222222;
	padding: 25px;
	border-radius: 15px;
	box-shadow: inset -1px 2px 10px grey;
}

#sidebar {
    margin-top: 15px;
	margin-left: 70%;
    font-family: Futura Bk BT;
    float: left;
    width: 50%;
    height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: 100%;
	background-image:url("../img/sticker.png");
}
#sidebar-text {
    margin-top: 10%;
	margin-left: 20%;
    font-family: terminal, monospace;
	font-size: 20px;
    float: left;
    width: 50%;
    height: 400px;

}